[user]
	name = Eu Ka On
	email = wlxyzlw@bacchus.snucse.org
[core]
	editor = vim
	excludesfile = ~/.gitexclude
	fscache = true
[color]
	ui = auto
[push]
	default = simple
[credential]
	helper = cache --timeout=3600
[credential "https://github.com"]
	username = wlxyzlw
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
